allure-pytest
allure-python-commons
appdirs
attrs
Cerberus
certifi
chardet
configparser
distlib
filelock
idna
importlib-metadata
mercurial
more-itertools
packaging
pluggy
py
PyHamcrest
pyparsing==3.1.0
pytest
pytest-ordering
requests
selenium
six
urllib3
virtualenv==20.23.1
wcwidth
zipp
